@page
@model AuthCustom.Pages.Usuarios.ChangePasswordModel

@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h2>Cambiar contraseña</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div>
                <input type="hidden" asp-for="Input.IdUsuarios" />
                <input type="hidden" asp-for="Input.UserName" />
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Your username, p.e.: adam77" disabled/>
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Cambiar</button>
            </div>            
            <br />
            <partial name="_StatusMessage" for="StatusMessage" />
        </form>
        <div>
            <a asp-page="/Usuarios/Edit" asp-route-id="@Model.Input.IdUsuarios">Volver</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        await Html.RenderPartialAsync("_CheckBoxesScriptsPartial");
    }
}