@page
@model AuthCustom.Pages.Usuarios.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de que desea eliminar el usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.UserName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Input.IdUsuarios" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a usuarios</a>
    </form>
</div>
