@page
@model AuthCustom.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <input type="hidden" asp-for="Input.IdUsuarios" />
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Input.IdUsuarios">Editar</a> |
    <a asp-page="./Index">Volver a usuarios</a>
</div>
