@page
@model AuthCustom.Pages.Roles.DetailsModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <input type="hidden" asp-for="Input.IdRoles" />
    <h4>Rol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Input.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Input.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Input.IdRoles">Editar</a> |
    <a asp-page="./Index">Volver a roles</a>
</div>
